body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #343B63;
  /* background-color: #343; */
  position: relative;
}

#canvas {
  position: relative;
}

#canvas, canvas {
  width: 80vw;
  height: 48vw;
  min-width: 800px;
  min-height: 480px;
  display: block;
  margin: auto;
}

canvas, #step1 {
  position: absolute;
}

#step1 {
  color: #fff;
  font-family: 'Courier New';
  top: calc(28% - 60px);
  left: calc(25% - 160px);
  display: none;
  width: 410px;
}

#step1.show {
  display: block;
  animation: show 0.5s ease-in-out 0.1s 1 normal both;
}
#step1.hide {
  animation: hide 0.5s ease-in-out 0.1s 1 normal both;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(310px, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-3100px, 0) scale(10);
  }
}

#step1 h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

#step1 p {
  font-size: 1.3rem;
}

#step1 button {
  background-image: url('../assets/button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 10rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  outline: none;
  margin-top: 2rem;
}

#step1 button:hover {
  cursor: pointer;
}

#step1 button:active {
  outline: none;
}

#step1 button:last-of-type {
  margin-left: 2rem;
}

.font-new {
  font-family: 'Courier New';
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.mask>div {
  position: relative;
  height: 100%;
  width: 100%;
}

.mask .modal {
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 15px;
}

#app-content {
  text-align: center;
  padding: 0 40px;
}

#app-content .icon {
  width: 95px;
  height: 95px;
  margin: auto;
  margin-top: 50px;
}

#app-content .icon img {
  width: 100%;
  border-radius: 7px;
}

#app-content .name {
  font-size: 28px;
  padding: 20px 0 15px;
}

#app-content .desc {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
}

.button {
  outline: none;
  border: none;
  width: 120px;
  height: 30px;
  display: inline-block;
  border-radius: 22px;
  line-height: 32px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 15px 0;
  background: -webkit-gradient( linear, left bottom, right top, from(#33A3D6), to(#38D9CC));
  background: -webkit-linear-gradient( bottom left, #33A3D6, #38D9CC);
  background: -o-linear-gradient( bottom left, #33A3D6, #38D9CC);
  background: linear-gradient( to top right, #33A3D6, #38D9CC);
}

#app-content #explore:hover {
  cursor: pointer;
}

#back {
  font-size: 14px;
  text-decoration: underline;
}

#counter {
  color: #fff;
  font-size: 22px;
  width: 80vw;
  margin: auto;
  text-align: right;
  padding: 10px 20px 0;
  opacity: 0;
}
